In [1]:
# from config.py import user, password

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

od_to_load = "od.csv"
suicide2k17_to_load ="SUICIDE2017.csv"
suicide2k16_to_load ="SUICIDE2016.csv"
suicide2k15_to_load ="SUICIDE2015.csv"

od_data = pd.read_csv(od_to_load)
suicide2k17 = pd.read_csv(suicide2k17_to_load)
suicide2k16 = pd.read_csv(suicide2k16_to_load)
suicide2k15 = pd.read_csv(suicide2k15_to_load)


suicide2k17

   STATE  RATE DEATHS                                                URL
0     AL  16.6    836         /nchs/pressroom/states/alabama/alabama.htm
1     AK  27.0    200           /nchs/pressroom/states/alaska/alaska.htm
2     AZ  18.2  1,327         /nchs/pressroom/states/arizona/arizona.htm
3     AR  20.8    631       /nchs/pressroom/states/arkansas/arkansas.htm
4     CA  10.5  4,312   /nchs/pressroom/states/california/california.htm
5     CO  20.3  1,181       /nchs/pressroom/states/colorado/colorado.htm
6     CT  10.5    405  /nchs/pressroom/states/connecticut/connecticut...
7     DE  11.6    112       /nchs/pressroom/states/delaware/delaware.htm
8     FL  14.0  3,227         /nchs/pressroom/states/florida/florida.htm
9     GA  13.6  1,451         /nchs/pressroom/states/georgia/georgia.htm
10    HI  15.2    227           /nchs/pressroom/states/hawaii/hawaii.htm
11    ID  23.2    392             /nchs/pressroom/states/idaho/idaho.htm
12    IL  11.2  1,474       /nchs/pressroom/states/illinois/illinois.htm
13    IN  16.3  1,092         /nchs/pressroom/states/indiana/indiana.htm
14    IA  15.0    479               /nchs/pressroom/states/iowa/iowa.htm
15    KS  19.1    553           /nchs/pressroom/states/kansas/kansas.htm
16    KY  16.9    770       /nchs/pressroom/states/kentucky/kentucky.htm
17    LA  15.2    720     /nchs/pressroom/states/louisiana/louisiana.htm
18    ME  18.9    274             /nchs/pressroom/states/maine/maine.htm
19    MD   9.8    630       /nchs/pressroom/states/maryland/maryland.htm
20    MA   9.5    682  /nchs/pressroom/states/massachusetts/massachus...
21    MI  14.1  1,457       /nchs/pressroom/states/michigan/michigan.htm
22    MN  13.8    783     /nchs/pressroom/states/minnesota/minnesota.htm
23    MS  15.0    445  /nchs/pressroom/states/mississippi/mississippi...
24    MO  18.5  1,151       /nchs/pressroom/states/missouri/missouri.htm
25    MT  28.9    311         /nchs/pressroom/states/montana/montana.htm
26    NE  14.7    275       /nchs/pressroom/states/nebraska/nebraska.htm
27    NV  20.3    627           /nchs/pressroom/states/nevada/nevada.htm
28    NH  18.9    265  /nchs/pressroom/states/newhampshire/newhampshi...
29    NJ   8.3    795     /nchs/pressroom/states/newjersey/newjersey.htm
30    NM  23.3    491     /nchs/pressroom/states/newmexico/newmexico.htm
31    NY   8.1  1,696         /nchs/pressroom/states/newyork/newyork.htm
32    NC  14.3  1,521  /nchs/pressroom/states/northcarolina/northcaro...
33    ND  20.1    154  /nchs/pressroom/states/northdakota/northdakota...
34    OH  14.8  1,740               /nchs/pressroom/states/ohio/ohio.htm
35    OK  19.1    756       /nchs/pressroom/states/oklahoma/oklahoma.htm
36    OR  19.0    825           /nchs/pressroom/states/oregon/oregon.htm
37    PA  15.0  2,030  /nchs/pressroom/states/pennsylvania/pennsylvan...
38    RI  11.8    129  /nchs/pressroom/states/rhodeisland/rhodeisland...
39    SC  16.3    838  /nchs/pressroom/states/southcarolina/southcaro...
40    SD  22.5    191  /nchs/pressroom/states/southdakota/southdakota...
41    TN  16.8  1,166      /nchs/pressroom/states/tenessee/tennessee.htm
42    TX  13.4  3,778             /nchs/pressroom/states/texas/texas.htm
43    UT  22.7    663               /nchs/pressroom/states/utah/utah.htm
44    VT  18.3    112         /nchs/pressroom/states/vermont/vermont.htm
45    VA  13.4  1,179       /nchs/pressroom/states/virginia/virginia.htm
46    WA  16.9  1,297   /nchs/pressroom/states/washington/washington.htm
47    WV  21.1    393  /nchs/pressroom/states/westvirginia/westvirgin...
48    WI  15.4    926     /nchs/pressroom/states/wisconsin/wisconsin.htm
49    WY  26.9    157         /nchs/pressroom/states/wyoming/wyoming.htm

In [3]:
suicide2k17 = suicide2k17[["STATE","RATE","DEATHS"]]

suicide2k17 = suicide2k17.rename(columns={"STATE": "state_name",
                                          "RATE": "suicide_rate_2017",
                                          "DEATHS": "suicide_deaths_2017"})

# suicide2k17 = suicide2k17.set_index("state_name")

suicide2k17

   state_name  suicide_rate_2017 suicide_deaths_2017
0          AL               16.6                 836
1          AK               27.0                 200
2          AZ               18.2               1,327
3          AR               20.8                 631
4          CA               10.5               4,312
5          CO               20.3               1,181
6          CT               10.5                 405
7          DE               11.6                 112
8          FL               14.0               3,227
9          GA               13.6               1,451
10         HI               15.2                 227
11         ID               23.2                 392
12         IL               11.2               1,474
13         IN               16.3               1,092
14         IA               15.0                 479
15         KS               19.1                 553
16         KY               16.9                 770
17         LA               15.2                 720
18         ME               18.9                 274
19         MD                9.8                 630
20         MA                9.5                 682
21         MI               14.1               1,457
22         MN               13.8                 783
23         MS               15.0                 445
24         MO               18.5               1,151
25         MT               28.9                 311
26         NE               14.7                 275
27         NV               20.3                 627
28         NH               18.9                 265
29         NJ                8.3                 795
30         NM               23.3                 491
31         NY                8.1               1,696
32         NC               14.3               1,521
33         ND               20.1                 154
34         OH               14.8               1,740
35         OK               19.1                 756
36         OR               19.0                 825
37         PA               15.0               2,030
38         RI               11.8                 129
39         SC               16.3                 838
40         SD               22.5                 191
41         TN               16.8               1,166
42         TX               13.4               3,778
43         UT               22.7                 663
44         VT               18.3                 112
45         VA               13.4               1,179
46         WA               16.9               1,297
47         WV               21.1                 393
48         WI               15.4                 926
49         WY               26.9                 157

In [4]:
suicide2k16 = suicide2k16[["STATE","RATE","DEATHS"]]

suicide2k16 = suicide2k16.rename(columns={"STATE": "state_name",
                                          "RATE": "suicide_rate_2016",
                                          "DEATHS": "suicide_deaths_2016"})

# suicide2k16 = suicide2k16.set_index("state_name")

suicide2k16

   state_name  suicide_rate_2016 suicide_deaths_2016
0          AL               15.7                 788
1          AK               25.8                 193
2          AZ               17.7               1,271
3          AR               18.2                 555
4          CA               10.5               4,294
5          CO               20.5               1,168
6          CT               10.1                 397
7          DE               11.5                 119
8          FL               14.0               3,143
9          GA               13.3               1,409
10         HI               12.1                 174
11         ID               21.4                 351
12         IL               10.7               1,415
13         IN               15.4               1,034
14         IA               14.6                 451
15         KS               17.9                 514
16         KY               16.8                 756
17         LA               14.2                 677
18         ME               15.9                 226
19         MD                9.4                 586
20         MA                8.8                 631
21         MI               13.3               1,364
22         MN               13.2                 745
23         MS               12.7                 383
24         MO               18.4               1,133
25         MT               25.9                 267
26         NE               13.1                 246
27         NV               21.4                 650
28         NH               17.2                 244
29         NJ                7.2                 687
30         NM               22.5                 471
31         NY                8.1               1,679
32         NC               13.0               1,373
33         ND               19.0                 140
34         OH               14.2               1,707
35         OK               21.0                 822
36         OR               17.8                 772
37         PA               14.7               1,970
38         RI               11.2                 126
39         SC               15.7                 815
40         SD               20.2                 163
41         TN               16.3               1,111
42         TX               12.6               3,488
43         UT               21.8                 620
44         VT               17.3                 118
45         VA               13.2               1,166
46         WA               14.9               1,141
47         WV               19.3                 362
48         WI               14.7                 866
49         WY               25.2                 144

In [5]:
suicide2k15 = suicide2k15[["STATE","RATE","DEATHS"]]

suicide2k15 = suicide2k15.rename(columns={"STATE": "state_name",
                                          "RATE": "suicide_rate_2015",
                                          "DEATHS": "suicide_deaths_2015"})

# suicide2k15 = suicide2k15.set_index("state_name")

suicide2k15

   state_name  suicide_rate_2015 suicide_deaths_2015
0          AL               14.9                 750
1          AK               26.9                 201
2          AZ               18.2               1,276
3          AR               19.1                 577
4          CA               10.3               4,167
5          CO               19.5               1,093
6          CT                9.9                 384
7          DE               12.6                 122
8          FL               14.4               3,205
9          GA               12.7               1,317
10         HI               13.5                 201
11         ID               22.1                 359
12         IL               10.3               1,363
13         IN               14.4                 960
14         IA               13.9                 433
15         KS               16.3                 477
16         KY               17.1                 776
17         LA               15.2                 722
18         ME               16.0                 235
19         MD                8.8                 553
20         MA                8.9                 642
21         MI               13.8               1,410
22         MN               13.2                 730
23         MS               14.0                 431
24         MO               17.1               1,052
25         MT               25.3                 272
26         NE               11.7                 223
27         NV               18.4                 558
28         NH               16.5                 228
29         NJ                8.3                 789
30         NM               23.7                 500
31         NY                7.8               1,652
32         NC               13.4               1,406
33         ND               17.5                 124
34         OH               13.9               1,650
35         OK               20.3                 790
36         OR               17.8                 762
37         PA               14.0               1,894
38         RI               11.2                 127
39         SC               14.8                 742
40         SD               20.4                 173
41         TN               15.7               1,068
42         TX               12.5               3,403
43         UT               22.4                 630
44         VT               14.8                 103
45         VA               12.7               1,118
46         WA               15.4               1,137
47         WV               17.4                 340
48         WI               14.7                 877
49         WY               28.0                 157

In [17]:
suicide_1516 = pd.merge(suicide2k15, suicide2k16, how="left", on=["state_name","state_name"])

suicide_1516

suicide2k15_to_2k17 = pd.merge(suicide_1516, suicide2k17, how="left", on=["state_name","state_name"])

suicide2k15_to_2k17

suicide2k15_to_2k17 = suicide2k15_to_2k17.rename(columns={"state_name":"State"})

suicide_complete = suicide2k15_to_2k17.set_index("State")

suicide_complete

,suicide_rate_2015,suicide_deaths_2015,suicide_rate_2016,suicide_deaths_2016,suicide_rate_2017,suicide_deaths_2017
State,,,,,,
AL,14.9,750,15.7,788,16.6,836
AK,26.9,201,25.8,193,27.0,200
AZ,18.2,"1,276",17.7,"1,271",18.2,"1,327"
AR,19.1,577,18.2,555,20.8,631
CA,10.3,"4,167",10.5,"4,294",10.5,"4,312"
CO,19.5,"1,093",20.5,"1,168",20.3,"1,181"
CT,9.9,384,10.1,397,10.5,405
DE,12.6,122,11.5,119,11.6,112
FL,14.4,"3,205",14.0,"3,143",14.0,"3,227"
GA,12.7,"1,317",13.3,"1,409",13.6,"1,451"
HI,13.5,201,12.1,174,15.2,227
ID,22.1,359,21.4,351,23.2,392
IL,10.3,"1,363",10.7,"1,415",11.2,"1,474"
IN,14.4,960,15.4,"1,034",16.3,"1,092"
IA,13.9,433,14.6,451,15.0,479
KS,16.3,477,17.9,514,19.1,553
KY,17.1,776,16.8,756,16.9,770
LA,15.2,722,14.2,677,15.2,720
ME,16.0,235,15.9,226,18.9,274
MD,8.8,553,9.4,586,9.8,630
MA,8.9,642,8.8,631,9.5,682
MI,13.8,"1,410",13.3,"1,364",14.1,"1,457"
MN,13.2,730,13.2,745,13.8,783
MS,14.0,431,12.7,383,15.0,445
MO,17.1,"1,052",18.4,"1,133",18.5,"1,151"
MT,25.3,272,25.9,267,28.9,311
NE,11.7,223,13.1,246,14.7,275
NV,18.4,558,21.4,650,20.3,627
NH,16.5,228,17.2,244,18.9,265
NJ,8.3,789,7.2,687,8.3,795
NM,23.7,500,22.5,471,23.3,491
NY,7.8,"1,652",8.1,"1,679",8.1,"1,696"
NC,13.4,"1,406",13.0,"1,373",14.3,"1,521"
ND,17.5,124,19.0,140,20.1,154
OH,13.9,"1,650",14.2,"1,707",14.8,"1,740"
OK,20.3,790,21.0,822,19.1,756
OR,17.8,762,17.8,772,19.0,825
PA,14.0,"1,894",14.7,"1,970",15.0,"2,030"
RI,11.2,127,11.2,126,11.8,129
SC,14.8,742,15.7,815,16.3,838
SD,20.4,173,20.2,163,22.5,191
TN,15.7,"1,068",16.3,"1,111",16.8,"1,166"
TX,12.5,"3,403",12.6,"3,488",13.4,"3,778"
UT,22.4,630,21.8,620,22.7,663
VT,14.8,103,17.3,118,18.3,112
VA,12.7,"1,118",13.2,"1,166",13.4,"1,179"
WA,15.4,"1,137",14.9,"1,141",16.9,"1,297"
WV,17.4,340,19.3,362,21.1,393
WI,14.7,877,14.7,866,15.4,926
WY,28.0,157,25.2,144,26.9,157

In [18]:
suicide_complete.to_csv("suicide_complete.csv")