In [3]:
from config import user, password
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
vsrr = pd.read_csv('vsrr.csv')
vsrr = vsrr.pivot(index= 'State', columns= 'Year', values= 'Data Value')

In [14]:
vsrr.reset_index()
vsrr.head()

Year      2015     2016     2017     2018
State
AK      1472.0   1594.0   1571.0    552.0
AL      8818.0   8324.0   9551.0   3129.0
AR      4616.0   4513.0   4775.0   1706.0
AZ     14590.0  16403.0  17552.0   6336.0
CA     56001.0  57154.0  58410.0  20301.0

In [2]:
rds_connection_string = f"{user}:{password}@127.0.0.1/etl_project"
engine = create_engine(f'mysql+pymysql://{rds_connection_string}')