In [3]:
from config import user, password
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
vsrr = pd.read_csv('vsrr.csv')
vsrr = vsrr.pivot(index= 'State', columns= 'Year', values= 'Data Value')

In [15]:
unemployment = pd.read_csv('unemployment_df.csv')

In [34]:
unemployment.head()
unemployment_vsrr = unemployment.merge(vsrr, left_on= 'State', right_on= 'State')
unemployment_vsrr = unemployment_vsrr.rename(columns = {2015: '2015 OD', 2016: '2016 OD', 2017: '2017 OD', 2018: '2018 OD'})

In [35]:
unemployment_vsrr.head()

,State,State_Name,2015 U Rate,2015 U Rate.1,2016 U Rate,2016 U Rank,2017 U Rate,2017 U Rank,2015 OD,2016 OD,2017 OD,2018 OD
0,ND,North Dakota,2.8,1.0,3.1,4.0,2.6,2.0,799.0,828.0,950.0,312.0
1,NE,Nebraska,3.0,2.0,3.1,4.0,2.9,5.0,1547.0,1425.0,1512.0,631.0
2,SD,South Dakota,3.1,3.0,3.0,3.0,3.3,10.0,727.0,809.0,891.0,263.0
3,NH,New Hampshire,3.4,4.0,2.9,1.0,2.7,3.0,4896.0,5256.0,5524.0,1874.0
4,HI,Hawaii,3.6,5.0,2.9,1.0,2.4,1.0,1884.0,2294.0,2312.0,867.0

In [37]:
rds_connection_string = f"{user}:{password}@127.0.0.1/etl_project"
engine = create_engine(f'mysql+pymysql://{rds_connection_string}')

In [38]:
unemployment_vsrr.to_sql(name = 'combined', con = engine, if_exists= 'append', index = False)