In [40]:
import pandas as pd

In [41]:
linkList = ['https://www.bls.gov/lau/lastrk15.htm','https://www.bls.gov/lau/lastrk16.htm','https://www.bls.gov/lau/lastrk17.htm']

df_15 = pd.read_html(linkList[0])[0]
df_16 = pd.read_html(linkList[1])[0]
df_17 = pd.read_html(linkList[2])[0]

In [42]:
df_15.dropna()

                   State  2015rate  Rank
2           North Dakota       2.8   1.0
3               Nebraska       3.0   2.0
4           South Dakota       3.1   3.0
5          New Hampshire       3.4   4.0
6                 Hawaii       3.6   5.0
7                   Utah       3.6   5.0
8                Vermont       3.6   5.0
9              Minnesota       3.7   8.0
10                  Iowa       3.8   9.0
11              Colorado       3.9  10.0
12                 Idaho       4.2  11.0
13                Kansas       4.2  11.0
14               Montana       4.2  11.0
15               Wyoming       4.3  14.0
16                 Maine       4.4  15.0
17              Oklahoma       4.4  15.0
18                 Texas       4.4  15.0
19              Virginia       4.5  18.0
20             Wisconsin       4.5  18.0
21               Indiana       4.8  20.0
22         Massachusetts       4.8  20.0
23              Delaware       4.9  22.0
24                  Ohio       4.9  22.0
25              Arkansas       5.0  24.0
26              Missouri       5.0  24.0
27              Maryland       5.1  26.0
28              Kentucky       5.3  27.0
29              New York       5.3  27.0
30          Pennsylvania       5.3  27.0
31              Michigan       5.4  30.0
32               Florida       5.5  31.0
33                Oregon       5.6  32.0
34             Tennessee       5.6  32.0
35           Connecticut       5.7  34.0
36        North Carolina       5.7  34.0
37            Washington       5.7  34.0
38            New Jersey       5.8  37.0
39               Georgia       6.0  38.0
40              Illinois       6.0  38.0
41          Rhode Island       6.0  38.0
42        South Carolina       6.0  38.0
43               Alabama       6.1  42.0
44               Arizona       6.1  42.0
45            California       6.2  44.0
46             Louisiana       6.3  45.0
47           Mississippi       6.4  46.0
48                Alaska       6.5  47.0
49            New Mexico       6.5  47.0
50         West Virginia       6.7  49.0
51                Nevada       6.8  50.0
52  District of Columbia       6.9  51.0

In [43]:
df_16.dropna()

                   State  2016rate  Rank
2                 Hawaii       2.9   1.0
3          New Hampshire       2.9   1.0
4           South Dakota       3.0   3.0
5               Nebraska       3.1   4.0
6           North Dakota       3.1   4.0
7                Vermont       3.2   6.0
8               Colorado       3.3   7.0
9                   Utah       3.4   8.0
10                  Iowa       3.6   9.0
11                 Idaho       3.8  10.0
12                 Maine       3.8  10.0
13              Arkansas       3.9  12.0
14         Massachusetts       3.9  12.0
15             Minnesota       3.9  12.0
16                Kansas       4.0  15.0
17             Wisconsin       4.0  15.0
18               Montana       4.1  17.0
19              Virginia       4.1  17.0
20               Indiana       4.4  19.0
21              Maryland       4.4  19.0
22              Delaware       4.5  21.0
23              Missouri       4.6  22.0
24                 Texas       4.6  22.0
25             Tennessee       4.7  24.0
26               Florida       4.8  25.0
27              New York       4.8  25.0
28              Oklahoma       4.8  25.0
29                Oregon       4.8  25.0
30              Michigan       5.0  29.0
31            New Jersey       5.0  29.0
32                  Ohio       5.0  29.0
33        South Carolina       5.0  29.0
34           Connecticut       5.1  33.0
35              Kentucky       5.1  33.0
36        North Carolina       5.1  33.0
37          Rhode Island       5.2  36.0
38            Washington       5.3  37.0
39               Wyoming       5.3  37.0
40               Arizona       5.4  39.0
41               Georgia       5.4  39.0
42          Pennsylvania       5.4  39.0
43            California       5.5  42.0
44                Nevada       5.7  43.0
45              Illinois       5.8  44.0
46           Mississippi       5.8  44.0
47               Alabama       5.9  46.0
48             Louisiana       6.0  47.0
49  District of Columbia       6.1  48.0
50         West Virginia       6.1  48.0
51            New Mexico       6.7  50.0
52                Alaska       6.9  51.0

In [44]:
df_17.dropna()

                   State  2017rate  Rank
2                 Hawaii       2.4   1.0
3           North Dakota       2.6   2.0
4          New Hampshire       2.7   3.0
5               Colorado       2.8   4.0
6               Nebraska       2.9   5.0
7                Vermont       3.0   6.0
8                   Iowa       3.1   7.0
9                  Idaho       3.2   8.0
10                  Utah       3.2   8.0
11                 Maine       3.3  10.0
12          South Dakota       3.3  10.0
13             Wisconsin       3.3  10.0
14               Indiana       3.5  13.0
15             Minnesota       3.5  13.0
16                Kansas       3.6  15.0
17              Arkansas       3.7  16.0
18         Massachusetts       3.7  16.0
19             Tennessee       3.7  16.0
20              Missouri       3.8  19.0
21              Virginia       3.8  19.0
22               Montana       4.0  21.0
23              Maryland       4.1  22.0
24                Oregon       4.1  22.0
25               Florida       4.2  24.0
26               Wyoming       4.2  24.0
27              Oklahoma       4.3  26.0
28        South Carolina       4.3  26.0
29                 Texas       4.3  26.0
30               Alabama       4.4  29.0
31          Rhode Island       4.5  30.0
32              Delaware       4.6  31.0
33              Michigan       4.6  31.0
34            New Jersey       4.6  31.0
35        North Carolina       4.6  31.0
36           Connecticut       4.7  35.0
37               Georgia       4.7  35.0
38              New York       4.7  35.0
39            California       4.8  38.0
40            Washington       4.8  38.0
41               Arizona       4.9  40.0
42              Kentucky       4.9  40.0
43          Pennsylvania       4.9  40.0
44              Illinois       5.0  43.0
45                Nevada       5.0  43.0
46                  Ohio       5.0  43.0
47             Louisiana       5.1  46.0
48           Mississippi       5.1  46.0
49         West Virginia       5.2  48.0
50  District of Columbia       6.1  49.0
51            New Mexico       6.2  50.0
52                Alaska       7.2  51.0

In [45]:
lookup_df = pd.read_csv('./states.csv')
lookup_df.head()

        State Abbreviation
0     Alabama           AL
1      Alaska           AK
2     Arizona           AZ
3    Arkansas           AR
4  California           CA

In [46]:
unemployment_df = df_15.merge(df_16, on="State",suffixes = ["_15","_16"]).merge(df_17, on="State")

In [47]:
unemployment_df = unemployment_df.merge(lookup_df,on="State")
unemployment_df = unemployment_df.rename(columns={"Rank":"Rank_17","State":"State_Name","Abbreviation":"State"})
unemployment_df = unemployment_df.set_index("State")
unemployment_df.head()

,State_Name,2015rate,Rank_15,2016rate,Rank_16,2017rate,Rank_17,State
0,North Dakota,2.8,1.0,3.1,4.0,2.6,2.0,ND
1,Nebraska,3.0,2.0,3.1,4.0,2.9,5.0,NE
2,South Dakota,3.1,3.0,3.0,3.0,3.3,10.0,SD
3,New Hampshire,3.4,4.0,2.9,1.0,2.7,3.0,NH
4,Hawaii,3.6,5.0,2.9,1.0,2.4,1.0,HI

In [35]:
unemployment_df.to_csv("./unemployment_df.csv")