In [2]:
from config import user, password
import pandas as pd

In [25]:
vsrr = pd.read_csv('Resources/vsrr-provisional-drug-overdose-death-counts.csv')
vsrr.head()

,State,State Name,Year,Month,Indicator,Data Value,Predicted Value,Percent Complete,Percent Pending Investigation,Footnote
0,AK,AK,2015,January,Number of Deaths,4034.0,NaN,100,0.0,NaN
1,AK,AK,2015,February,Number of Deaths,4084.0,NaN,100,0.0,NaN
2,AK,AK,2015,March,Number of Deaths,4101.0,NaN,100,0.0,NaN
3,AK,AK,2015,April,Number of Deaths,4133.0,NaN,100,0.0,NaN
4,AK,AK,2015,May,Number of Deaths,4196.0,NaN,100,0.0,NaN

In [26]:
vsrr = vsrr[['State', 'Year', 'Month', 'Indicator', 'Data Value']]
vsrr = vsrr[vsrr.Indicator == 'Number of Drug Overdose Deaths']
vsrr = vsrr[['State', 'Year', 'Data Value']]

In [27]:
vsrr_grouped = vsrr.groupby(['State', 'Year']).sum()

In [29]:
vsrr_grouped.to_csv('vsrr.csv')